.MessagesSeperateHeaders{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.Messages{
    width:100%;
}

@media screen and (min-width: 1000px) {
.Messages{
    padding:25px;
    width: 45%;
}
}

.ContentBox{
    background-color: white;
    height:250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.newMessage{
    background-color: #e0f2e4;
    border-radius: 25px;
    padding: 5px;
    margin:15px;
    text-align: center;
    width:80%;

}

.colourHeaderText{
color: #39b24b;
}

.close {
    float: right;
    cursor: pointer;
    padding-right: 10px;
}

ul{ 
    list-style-type:none;
}