.AppAlignContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 500px) {
    .AppAlignContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
  }
  }

.App-link {
  color: #61dafb;
}

.App {
  font-weight: 900;
}
